<div class="row g-0 justify-content-center align-items-center content-login">
    <div class="col-sm-11 col-md-8">
        <div class="row background-color-main content-text-input justify-content-center pb-4">
            <div class="col-12 text-center header font-color-white">
                <p class="my-2 roboto-font-3">Actividades Extraescolares</p>
            </div>
            <div class="col-12">
                <p class="roboto-font-3 text-center px-4"><b>Estas son las actividades complementarias que tienes registradas al momento</b></p>
            </div>

            <div class="col-12 subtitle-bar">
                <p class="roboto-font-3 my-2"><b>Nombre</b></p>
            </div>

            <div class="col-12 mt-3 mb-2">
                <div class="row g-0">
                    <div class="col-7">
                        <p class="my-1"><b>TUTORIAS</b></p>
                    </div>
                    <div class="col-5">
                        <div class="row g-0">
                            <div class="col-2">
                                1
                            </div>
                            <div class="col">
                                AGOSTO-DICIEMBRE 2020
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 mt-3 mb-2">
                <div class="row g-0">
                    <div class="col-7">
                        <p class="my-1"><b>XVII CONGRESO INTERNACIONAL</b></p>
                    </div>
                    <div class="col-5">
                        <div class="row g-0">
                            <div class="col-2">
                                1
                            </div>
                            <div class="col">
                                AGOSTO-DICIEMBRE 2020
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 mt-3 mb-2">
                <div class="row g-0">
                    <div class="col-7">
                        <p class="my-1"><b>CURSO TALLER DE ACENTUACIÓN</b></p>
                    </div>
                    <div class="col-5">
                        <div class="row g-0">
                            <div class="col-2">
                                1
                            </div>
                            <div class="col">
                                AGOSTO-DICIEMBRE 2020
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 mt-3 mb-2">
                <div class="row g-0">
                    <div class="col-7">
                        <p class="my-1"><b>BASQUETBALL</b></p>
                    </div>
                    <div class="col-5">
                        <div class="row g-0">
                            <div class="col-2">
                                1
                            </div>
                            <div class="col">
                                AGOSTO-DICIEMBRE 2020
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 mt-3 mb-2">
                <div class="row g-0">
                    <div class="col-7">
                        <p class="my-1"><b>OTRO</b></p>
                    </div>
                    <div class="col-5">
                        <div class="row g-0">
                            <div class="col-2">
                                1
                            </div>
                            <div class="col">
                                AGOSTO-DICIEMBRE 2020
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 mt-3 mb-2">
                <div class="row g-0">
                    <div class="col-7">
                        <p class="my-1"><b>TOTAL</b></p>
                    </div>
                    <div class="col-5">
                        <div class="row g-0">
                            <div class="col-2">
                                5
                            </div>
                            <div class="col">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>

        <!-- Actions Buttons -->
        <div class="row g-0 justify-content-between">
            <div class="col-4 my-4">
                <button class="btn-main-strong" (click)="goToInicio()">
                    <span class="roboto-font-4">Inicio</span>
                </button>
            </div>

            <div class="col-4 my-4">
                <button class="btn-main-strong" (click)="goToBack()">
                    <span class="roboto-font-4">Regresar</span>
                </button>
            </div>
        </div>
        <!-- END Actions Buttons -->
        <br><br><br><br><br>
    </div>
</div>