<div class="row g-0 content-inicio align-items-center">
    <div class="col-sm-12 col-md-3">
        <div class="row g-0 justify-content-center">
            <div class="row g-0 justify-content-center">
                <div class="col-4">
                    <div class="badge-welcome text-center">
                        <i class="fa-solid fa-hands-clapping my-1 icon-hand"></i>
                        <p class="font-color-main-strong my-0 roboto-font-3">Bienvenido!</p>
                    </div>
                </div>
            </div>
            <div class="row g-0 justify-content-center">
                <div class="col-sm-12 col-md-6 text-center">
                    <p class="name-user-text my-2">KURIKAVERY HURTADO</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-5 text-right d-none d-md-block">
        <img src="../../../../assets/img/inicio/man.png" alt="">
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="row g-0 justify-content-center">
            <div class="col-8 my-2">
                <button class="btn-action-start cursor-pointer" (click)="gotoResidencias()">
                    Residencias
                </button>
            </div>
            <div class="col-8 my-2">
                <button class="btn-action-start cursor-pointer" (click)="goToVerifyServiceSocial()">
                    Servicio Social
                </button>
            </div>
            <div class="col-8 my-2">
                <button class="btn-action-start cursor-pointer" (click)="goToAdvanceReticular()">
                    Actividades Extraescolares
                </button>
            </div>
        </div>
    </div>
</div>