<div class="row g-0 justify-content-center align-items-center content-login">
    <div class="col-sm-11 col-md-8">
        <div class="row g-0 background-color-main content-text-input justify-content-center pb-1">
            <div class="col-12 text-center header font-color-white">
                <p class="my-2 roboto-font-3">Estado de servicio social</p>
            </div>
            
            <div class="col-12 text-center px-5">
                <p class="roboto-font-3">Has cumplido con las 500 horas requeridas para cumplir con tu servicio social.</p>
            </div>

            <!-- Actions Buttons -->
            <div class="col-11 buttons">
                <div class="row g-0 justify-content-between">
                    <div class="col-4 my-1">
                        <button class="btn-main-strong" (click)="goToInicio()">
                            <span class="roboto-font-4">Inicio</span>
                        </button>
                    </div>
    
                    <div class="col-4 my-1">
                        <button class="btn-main-strong" (click)="goToBack()">
                            <span class="roboto-font-4">Regresar</span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- END Actions Buttons -->

        </div>

    </div>
</div>