<!-- Label -->
<div class="label-input-container pb-1">
    <label class="label-input">
        {{label}}
        <span *ngIf="required">*</span>
    </label>
</div>


<!-- Password -->
<div class="row g-0 align-items-center">


    <!-- Input -->
    <div class="col">
        <input type="{{(showPassword) ? 'text' : 'password'}}"
            [id]="idInput"
            class="left-element"
            placeholder={{placeholder}}
            [formControl]="control"
            [ngClass]="{'input-alert-border': (!control.valid && submit)}">
    </div>
    <!-- END Input -->


    <!-- Eye button -->
    <div class="col-auto input-style cursor-pointer right-element"
        [ngClass]="{ 'input-alert-border': !control.valid && submit }"
        (click)="changeVision()">
            <i class="fa-solid fa-lock-open" *ngIf="showPassword"></i>
            <i class="fa-solid fa-lock" *ngIf="!showPassword"></i>
    </div>
    <!-- END Eye button -->
    

</div>
<!-- END Password -->

<!-- Alert -->
<span [id]="idInput+'input-alert'" class="input-alert-text" *ngIf="!control.valid && submit">{{inputsService.getErrorString(control, customErrorMessages)}}</span>
